.home {
    padding-top: calc(var(--header-height) + 2rem);
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

img {
    max-width: 300px;
    max-height: 300px;
    display: block;
    border-radius: 100%;
}

.post__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 1.5rem;
    justify-content: center;
}

.post {
    width: 385px;
    margin: 0px 25px 40px 25px;
    display: flex;
    flex-direction: column;
}

.postImg {
    width: 385px;
    height: 280px;

    object-fit: cover;
    border-radius: 7px;
}

.postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCat {
    font-weight: 400;
    font-size: 11px;
    color: #be9656;
    line-height: 19px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.postTitle {
    font-size: 24px;
    font-weight: 900;
    margin-top: 15px;
    cursor: pointer;
}

.postDate {
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    color: #999999;
    margin-top: 15px;
}



.postDesc {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 4; */
    -webkit-box-orient: vertical;
}

.post__title {
    color: var(--title-color);
}





@media screen and (max-width:992px) {
    .post__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
        max-height: fit-content;
    }

    .post__img {
        width: 220px;
    }

    .post__containers {
        grid-template-columns: 1fr;
        max-height: fit-content;
    }

    .post__img {
        width: 220px;
    }

}

/*for medium devices*/
@media screen and (max-width:576px) {
    .post__container {
        max-width: 300px;
        row-gap: 2.5rem;
    }

    .home {
        padding-top: 2rem;
    }
}

/*for small devices*/
@media screen and (max-width:350px) {
    .post__container {
        max-width: 300px;
        row-gap: 2.5rem;
    }

    .home {
        padding-top: 2rem;
    }
}